a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#table_274cbdb6 th { border: 1px solid #8C8C8C;  } 
#table_274cbdb6 td { border: 1px solid #8C8C8C;  } 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
.textstyle2 { font-size:32pt; font-family:Verdana, Geneva, sans-serif; color:#000000;  }
.textstyle3 { font-size:12pt; font-family:Verdana, Geneva, sans-serif; color:#000000;  }
#table_274cbdb6 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-table; width:90%; height:1723px; background:none; border: 1px solid #8C8C8C; table-layout: fixed;  }
#cell_1efa2331 {  }
#img_76422ff5 { vertical-align: bottom; position:relative; display: inline-block; width:90%; background:none; height:auto;  }
.textstyle4 { font-size:26pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#cell_1efa2331 {  }
#img_6b364148 { vertical-align: bottom; position:relative; display: inline-block; width:90%; background:none; height:auto;  }
#cell_1efa2331 {  }
#img_5b6fb27c { vertical-align: bottom; position:relative; display: inline-block; width:90%; background:none; height:auto;  }
#cell_1efa2331 {  }
#img_77b41708 { vertical-align: bottom; position:relative; display: inline-block; width:90%; background:none; height:auto;  }
#cell_1efa2331 {  }
#img_3771cb8a { vertical-align: bottom; position:relative; display: inline-block; width:90%; background:none; height:auto;  }
#cell_1efa2331 {  }
#img_24d810db { vertical-align: bottom; position:relative; display: inline-block; width:90%; background:none; height:auto;  }
.textstyle5 { font-size:26pt; font-family:Verdana, Geneva, sans-serif; color:#000000;  }
#cell_557d032a {  }
#img_389f94e9 { vertical-align: bottom; position:relative; display: inline-block; width:90%; background:none; height:auto;  }
#cell_3310436c {  }
#img_632d7c06 { vertical-align: bottom; position:relative; display: inline-block; width:90%; background:none; height:auto;  }
#cell_3310436c {  }
#img_5ef93a62 { vertical-align: bottom; position:relative; display: inline-block; width:90%; background:none; height:auto;  }
.textstyle6 { text-align:left; }
#cell_3310436c {  }
#img_363ca6fd { vertical-align: bottom; position:relative; display: inline-block; width:90%; background:none; height:auto;  }
#cell_3310436c {  }
#img_60e09244 { vertical-align: bottom; position:relative; display: inline-block; width:90%; background:none; height:auto;  }
#cell_3310436c {  }
#img_4a51962e { vertical-align: bottom; position:relative; display: inline-block; width:90%; background:none; height:auto;  }
#cell_3310436c {  }
#img_3933c8cf { vertical-align: bottom; position:relative; display: inline-block; width:90%; background:none; height:auto;  }
#img_4c60c1f9 { vertical-align: bottom; position:relative; display: inline-block; width:80%; background:none; height:auto;  }
#img_40cee31b { vertical-align: bottom; position:relative; display: inline-block; width:80%; background:none; height:auto;  }
#cell_3310436c {  }
#img_70dca2ac { vertical-align: bottom; position:relative; display: inline-block; width:90%; background:none; height:auto;  }
#cell_3310436c {  }
#img_52b91d85 { vertical-align: bottom; position:relative; display: inline-block; width:90%; background:none; height:auto;  }
.textstyle7 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
