a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
.textstyle2 { font-size:24pt; font-family:Verdana, Geneva, sans-serif; color:#000000;  }
.textstyle3 { font-size:12pt; font-family:Verdana, Geneva, sans-serif; color:#000000;  }
#img_8033757 { vertical-align: bottom; position:relative; display: inline-block; width:20%; background:none; height:auto;  }
#img_74cc30ce { vertical-align: bottom; position:relative; display: inline-block; width:20%; background:none; height:auto;  }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#img_43dea141 { vertical-align: bottom; position:relative; display: inline-block; width:20%; background:none; height:auto;  }
#img_741b1441 { vertical-align: bottom; position:relative; display: inline-block; width:20%; background:none; height:auto;  }
