a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#table_4365d317 th { border: 1px solid #8C8C8C;  } 
#table_4365d317 td { border: 1px solid #8C8C8C;  } 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
.textstyle2 { font-size:32pt; font-family:Verdana, Geneva, sans-serif; color:#000000;  }
.textstyle3 { font-size:12pt; font-family:Verdana, Geneva, sans-serif; color:#000000;  }
#table_4365d317 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-table; width:90%; height:1823px; background:none; border: 1px solid #8C8C8C; table-layout: fixed;  }
#cell_15a6cc0e {  }
#img_15054823 { vertical-align: bottom; position:relative; display: inline-block; width:90%; background:none; height:auto;  }
.textstyle4 { font-size:26pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#cell_23e78b93 {  }
#img_21012002 { vertical-align: bottom; position:relative; display: inline-block; width:90%; background:none; height:auto;  }
#cell_71ab4cf8 {  }
#img_114fb848 { vertical-align: bottom; position:relative; display: inline-block; width:90%; background:none; height:auto;  }
#cell_63ddebe7 {  }
#img_27960a10 { vertical-align: bottom; position:relative; display: inline-block; width:90%; background:none; height:auto;  }
#cell_24c1a9be {  }
#img_f857295 { vertical-align: bottom; position:relative; display: inline-block; width:90%; background:none; height:auto;  }
#cell_17666c37 {  }
#img_4855a03 { vertical-align: bottom; position:relative; display: inline-block; width:90%; background:none; height:auto;  }
.textstyle5 { font-size:26pt; font-family:Verdana, Geneva, sans-serif; color:#000000;  }
#cell_58563d73 {  }
#img_6c8a3dbe { vertical-align: bottom; position:relative; display: inline-block; width:90%; background:none; height:auto;  }
#cell_4ab79b8 {  }
#img_489536cc { vertical-align: bottom; position:relative; display: inline-block; width:90%; background:none; height:auto;  }
#cell_72631e1e {  }
#img_33996244 { vertical-align: bottom; position:relative; display: inline-block; width:90%; background:none; height:auto;  }
.textstyle6 { text-align:left; }
#cell_5b3afa51 {  }
#img_52a573a4 { vertical-align: bottom; position:relative; display: inline-block; width:90%; background:none; height:auto;  }
#cell_2b87b586 {  }
#img_3f964b56 { vertical-align: bottom; position:relative; display: inline-block; width:90%; background:none; height:auto;  }
#cell_59bce299 {  }
#img_1c4ecbc4 { vertical-align: bottom; position:relative; display: inline-block; width:90%; background:none; height:auto;  }
#cell_40a229fe {  }
#img_30c8db43 { vertical-align: bottom; position:relative; display: inline-block; width:90%; background:none; height:auto;  }
#img_7678d4dd { vertical-align: bottom; position:relative; display: inline-block; width:80%; background:none; height:auto;  }
#img_6d7f694e { vertical-align: bottom; position:relative; display: inline-block; width:80%; background:none; height:auto;  }
#cell_3cacacad {  }
#img_6770a37c { vertical-align: bottom; position:relative; display: inline-block; width:90%; background:none; height:auto;  }
#cell_76c2aff2 {  }
#img_19927b9e { vertical-align: bottom; position:relative; display: inline-block; width:90%; background:none; height:auto;  }
#cell_3b8da00f {  }
#img_2c0dbea0 { vertical-align: bottom; position:relative; display: inline-block; width:90%; background:none; height:auto;  }
#img_66e5429d { vertical-align: bottom; position:relative; display: inline-block; width:90%; background:none; height:auto;  }
#cell_75b17a31 {  }
#img_3720dca3 { vertical-align: bottom; position:relative; display: inline-block; width:90%; background:none; height:auto;  }
#cell_3ed1db06 {  }
#img_657e55aa { vertical-align: bottom; position:relative; display: inline-block; width:90%; background:none; height:auto;  }
#cell_316fdd3f {  }
#img_29677850 { vertical-align: bottom; position:relative; display: inline-block; width:90%; background:none; height:auto;  }
#img_52758fb0 { vertical-align: bottom; position:relative; display: inline-block; width:70%; background:none; height:auto;  }
#cell_7a5ef65 {  }
#img_33f1becb { vertical-align: bottom; position:relative; display: inline-block; width:80%; background:none; height:auto;  }
#img_36035886 { vertical-align: bottom; position:relative; display: inline-block; width:90%; background:none; height:auto;  }
.textstyle7 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
